<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-with; initial-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>{% block stades_title %}{% endblock %} - Stades</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    {% block add_stylesheets %}

    {% endblock %}
    {# Ajoutez cookies.css si vous utilisez cookies.js #}
    {% stylesheets filter='cssrewrite,?yui_css'
        '@StadesStadesBundle/Resources/public/css/stylev2.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block add_javascripts %}
        
    {% endblock %}
</head>
<body>
    <!-- HEADER -->
    <div class="header">
        <div id="btn-menu" class="btn-menu"></div>
        <h1 class="title">
            {% block stades_sub_title %}
            {% endblock %}
        </h1>
        {% block stades_description %}
        {% endblock %}
        <div class="form-search">
            {{ render(controller("StadesStadesBundle:Stades:search")) }}
        </div>
    </div>
    <!-- MENU -->
    {% block stades_menu %}
        
    {% endblock %}
    <!-- LIEN TO TOP -->
    <a href="#" class="to-top">Go to top !</a>
    <!-- CONTENU -->
    <div id="content" class="content">
        {% block stades_view %}
            
        {% endblock %}
    </div>
    <!-- DIV pour le filtre noir quand le menu est ouvert -->
    <div id="filter" class="filter"></div>
    
    <!-- Javascripts -->
    {# Pour les trackers, utiliser cookies.js ou piwik.js #}
    <!--[if (!IE) | (gte IE 10) ]><!-->
        {% javascripts filter='?yui_js'
            '@StadesStadesBundle/Resources/public/js/velocity.min.js'
            '@StadesStadesBundle/Resources/public/js/script_velocity.js'
            '@StadesStadesBundle/Resources/public/js/piwik.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    <!--<![endif]-->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        {% javascripts filter='?yui_js'
            '@StadesStadesBundle/Resources/public/js/script.js'
            '@StadesStadesBundle/Resources/public/js/piwik.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    <![endif]-->
</body>
</html>