{% extends "StadesStadesBundle::layout.html.twig" %}

{% block stades_title %}
    Supprimer un stade {{ parent() }}
{% endblock %}

{% block stades_sub_title %}
    Supprimer
{% endblock %}

{% block stades_view %}
    <div class="vignette">
        <h2>Supprimer un stade</h2>
        <p>Voulez-vous vraiment supprimer le stade de {{ stade.nomStade }} ?</p>
    
        <form action="{{ path('stades_stades_delete', {'id': stade.id}) }}" method="POST">
            <a href="{{ path('stades_stades_view', {'id': stade.id}) }}" class="vignette-link">
                Retour au stade
            </a>
            <input class="delete" type="submit" value="Supprimer" />
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}