<div class="menu">
    <div class="marginMenuTop"></div>
    <ul class="menu-liste">
        <div class="titre-sous-menu">Stade</div>
        <a class="menu-liste-link" href="{{ path('stades_stades_homepage') }}">
            <li class="menu-liste-link-element">
                Accueil
            </li>
        </a>
        {% if is_granted('ROLE_USER') %}
        <a class="menu-liste-link" href="{{ path('stades_stades_add') }}">
            <li class="menu-liste-link-element">
                Ajouter
            </li>
        </a>
            
        {% if app.request.attributes.get('_route') == 'stades_stades_view' %}
        <a class="menu-liste-link" href="{{ path('stades_stades_edit', {'id' : stade.id}) }}">
            <li class="menu-liste-link-element">
                Modifier
            </li>
        </a>
            <a class="menu-liste-link" href="{{ path('stades_stades_delete', {'id' : stade.id}) }}">
            <li class="menu-liste-link-element">
                Supprimer
            </li>
        </a>
        {% endif %}
        {% endif %}
        
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="titre-sous-menu">{{ app.user.username }}</div>
        <a class="menu-liste-link" href="{{ path('fos_user_security_logout') }}">
            <li class="menu-liste-link-element">
                Déconnexion
            </li>
        </a>
        {% else %}
        <div class="titre-sous-menu">Se connecter</div>
        <a class="menu-liste-link" href="{{ path('fos_user_security_login') }}">
            <li class="menu-liste-link-element">
                Connexion
            </li>
        </a>
        {% endif %}
        
        {% if is_granted('ROLE_ADMIN') %}
        <div class="titre-sous-menu">Gestion utilisateurs</div>
        <a class="menu-liste-link" href="{{ path('sonata_admin_dashboard') }}">
            <li class="menu-liste-link-element">
                Utlisateurs
            </li>
        </a>
        {% endif %}
    </ul>
</div>