<div id="menu" class="menu">
    <div class="marginMenuTop"></div>
    <div class="menu-liste">
        <span class="titre-sous-menu">Stade</span>
        <a class="menu-liste-link" href="{{ path('stades_stades_homepage') }}">            
            <span class="btn-home"></span><span class="menu-liste-link-text">Accueil</span>          
        </a>
        {% if is_granted('ROLE_USER') %}
        <a class="menu-liste-link" href="{{ path('stades_stades_add') }}">            
            <span class="btn-add"></span><span class="menu-liste-link-text">Ajouter</span>            
        </a>
            
        {% if app.request.attributes.get('_route') == 'stades_stades_view' %}
        <a class="menu-liste-link" href="{{ path('stades_stades_edit', {'id' : stade.id}) }}">           
            <span class="btn-edit"></span><span class="menu-liste-link-text">Modifier</span>          
        </a>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="menu-liste-link" href="{{ path('stades_stades_delete', {'id' : stade.id}) }}">            
            <span class="btn-delete"></span><span class="menu-liste-link-text">Supprimer</span>        
        </a>
        {% endif %}
        {% endif %}
        {% endif %}
        
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <span class="titre-sous-menu">{{ app.user.username }}</span>
        <a class="menu-liste-link" href="{{ path('fos_user_security_logout') }}">           
            <span class="btn-power"></span><span class="menu-liste-link-text">Déconnexion</span>        
        </a>
        <a class="menu-liste-link" href="{{ path('fos_user_profile_show') }}">           
            <span class="btn-profile"></span><span class="menu-liste-link-text">Mon profil</span>      
        </a>
        {% else %}
        <span class="titre-sous-menu">Se connecter</span>
        <a class="menu-liste-link" href="{{ path('fos_user_security_login') }}">
            <span class="btn-power"></span><span class="menu-liste-link-text">Connexion</span>
        </a>
        {% endif %}
        
        {% if is_granted('ROLE_ADMIN') %}
        <span class="titre-sous-menu">Gestion utilisateurs</span>
        <a class="menu-liste-link" href="{{ path('sonata_admin_dashboard') }}">
            <span class="btn-users"></span><span class="menu-liste-link-text">Utilisateurs</span>
        </a>
        {% endif %}
        <span class="titre-sous-menu">A.S. Montigny-lès-Metz</span>
        <a class="menu-liste-link" href="http://asmontignylesmetz.fr" target="_blank">
            <span class="btn-website"></span><span class="menu-liste-link-text">Aller sur le site</span>
        </a>
    </div>
</div>